<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <h1>Discussions</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= render 'layouts/nav' %>
    </div>

    <div class="col-md-8">
      <%= yield %>
    </div>

    <div class="col-md-8">
    </div>
  </div>

</body>
</html>
